app-tab-bar.bar{
    margin-top: 100%;
}
ion-toolbar{
    height: 80px;
}
ion-icon.menu{
    margin-left: 2%;
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
ion-icon.search{
    margin-left: 80%;
    align-content: right;
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
ion-icon.ellipsis{
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
ion-card-subtitle{
    font-size: 30px;
    font-family: 'exo';
    color: #06383B;
}
ion-card-title{
    font-size: 36px;
    font-family: 'exo';
    color: #06383B;
}
ion-card-content{
    font-size: 22px;
    font-family: 'exo';
    color: #06383B;
}
ion-button.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 79px;
    margin-top: 30px;
    border-width: 1px;
    --border-radius: 100px;
    --opacity: 56%;
    font-size: 20px;
    font-family: 'exo';
}
  