app-tab-bar.bar{
    margin-top: 100%;
}
ion-toolbar{
    height: 80px;
}
ion-icon.menu{
    margin-left: 2%;
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
ion-icon.search{
    margin-left: 80%;
    align-content: right;
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
ion-icon.ellipsis{
    margin-top: 2%;
    height: 46px;
    width: 46px; 
}
h1.title{
    margin-left: 36%;
    font-size: 36px;
    font-family: 'exo';
    color: #06383B;
}
img.avatar{
    height: 36px;
    width: 36px;
}