<ion-content class="background" [fullscreen]="true">
    <h1 class="welcome">WELCOME</h1>
    <ion-img class="logo" src="../../assets/Images/dk.png"></ion-img>
      <ion-input class="form" placeholder="Username">
        <ion-icon class="form" name="person-circle-outline"></ion-icon>
      </ion-input>
      <ion-input class="form" placeholder="Password">
        <ion-icon class="form" name="lock-closed-outline"></ion-icon>
      </ion-input>
      <ion-button [routerLink]="['/tabs/friends']" class="login" color="primary" >Login</ion-button>
    <h2 (click)="notWorking()" class="forgot">Forgot password?</h2>
</ion-content>
